.aboutPage {
  color: $clr-primary;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#dc8282, 0.6);
  backdrop-filter: blur(10px);
  width: 100svw;
  height: 100svh;
  z-index: 2;
  display: flex;
  padding-inline: 20%;
  padding-top: 15%;

  h4 {
    font-weight: bold;
    font-size: 20px;
  }

  p {
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  span {
    font-family: "Monserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .diplome {
    font-family: "Monserrat", sans-serif;
    font-variant: small-caps;
    margin-bottom: 25px;
  }

  .aboutArticle {
    padding-inline: 20px;
  }
}
