h2,
h3 {
  font-family: "Montserrat", sans-serif;
  // font-family: "Montserrat alternates", sans-serif;
  font-variant: small-caps;
}

h2 {
  font-weight: bold;
  font-size: 120px;
}

h3 {
  font-weight: 400;
  font-size: 30px;
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 65px;
  }

  h3 {
    font-size: 20px;
  }
}
